<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flchy.blog.logging.config.mapper.ILogOperateDao">
	<resultMap id="LogOperateEntityMap"
		type="com.flchy.blog.logging.config.entity.LogOperate">
		<result column="log_id" property="logId" />
		<result column="session_id" property="sessionId" />
		<result column="res_id" property="resId" />
		<result column="opr_type" property="oprType" />
		<result column="opr_obj" property="oprObj" />
		<result column="opr_cont" property="oprCont" />
		<result column="opr_user_id" property="oprUserId" />
		<result column="main_account" property="mainAccount" />
		<result column="opr_begin_time" property="oprBeginTime" />
		<result column="opr_end_time" property="oprEndTime" />
		<result column="is_error" property="isError" />
		<result column="err_msg" property="errMsg" />
		<result column="server_ip" property="serverIp" />
		<result column="client_ip" property="clientIp" />
		<result column="user_agent" property="userAgent" />
		<result column="browser_type" property="browserType" />
	</resultMap>
	
	
	<select id="selectLogOperate" resultMap="LogOperateEntityMap">
		SELECT
			`log_id`,
				`session_id`,
				`res_id`,
				`opr_type`,
				`opr_obj`,
				`opr_cont`,
				`opr_user_id`,
				`main_account`,
				`opr_begin_time`,
				`opr_end_time`,
				`is_error`,
				`err_msg`,
				`server_ip`,
				`client_ip`,
				`user_agent`,
				`browser_type`
			FROM
			`log_operate`
			where 1=1
			
				<if test="mainAccount != null and mainAccount != ''">
				and main_account like concat(concat('%',#{mainAccount}),'%')
				</if>
				<if test="isError != null">
				and  is_error =#{isError}
				</if>
				
			<if test="oprBeginTimeStart != null">
				and opr_begin_time >= #{oprBeginTimeStart}
				</if>
				<if test="oprBeginTimeStop != null">
				 <![CDATA[  
					and opr_begin_time <= #{oprBeginTimeStop}
				 ]]>  
				</if>
				<if test="oprEndTimeStart != null">
				and opr_end_time >= #{oprEndTimeStart}
				</if>
				<if test="oprEndTimeStop != null">
				 <![CDATA[  
					and opr_end_time <= #{oprEndTimeStop}
				 ]]>  
				</if>
			
		ORDER BY
			opr_begin_time  desc
	</select>
</mapper>
