<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flchy.blog.inlets.mapper.ArticleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.flchy.blog.pojo.Article">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="synopsis" property="synopsis" />
		<result column="image" property="image" />
		<result column="type_id" property="typeId" />
		<result column="see" property="see" />
		<result column="status" property="status" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	
	<select id="selectPage" resultType="com.flchy.blog.pojo.Article" >
		SELECT
		(
			SELECT
				count(1)
			FROM
				`comment` c
			WHERE
				a.id = c.articleId
			AND c.`status` =  #{status}
			AND FIND_IN_SET(
				id,
				getChildLst (c.id, a.id,  #{status})
			)
		) 'commentNum',
		`id`,
		`title`,
		`content`,
		`synopsis`,
		`image`,
		`type_id` 'typeId',
		`see`,
		`status`,
		`create_user` 'createUser',
		`create_time` 'createTime',
		`update_user` 'updateUser',
		`update_time` 'updateTime'
	FROM
		article a
	WHERE
		a.`status` = #{status}
		<if test="typeId != null and typeId != '' ">
		and type_id=#{typeId}
		</if>
		<if test="title != null and title != '' ">
		and title  LIKE concat(concat('%',#{title}),'%')
		</if>
		
		<if test="order == 1 ">
			ORDER BY create_time desc 
		</if>
		<if test="order == 2 ">
			ORDER BY see desc 
		</if>
		<if test="order == 3 ">
			ORDER BY commentNum desc 
		</if>
	
	</select>

</mapper>
