<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuobiao.analysis.privilege.config.dao.IBaseConfPrivDao">
	<resultMap id="BaseConfPrivEntityMap" type="com.zuobiao.analysis.privilege.config.entity.BaseConfPrivEntity">
		<result column="priv_visit_id" property="privVisitId" />
		<result column="menu_id" property="menuId" />
		<result column="status" property="status" />
		<result column="create_user" property="createUser" />
		<result column="create_time" property="createTime" />
		<result column="update_user" property="updateUser" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="BaseConfPrivEntity_Column_List">
		 `priv_visit_id` ,  `menu_id` , `status` , `create_user` , `create_time` , `update_user` , `update_time` 
	</sql>
	
	<select id="selectConfPrivByPrivVisitIds" resultMap="BaseConfPrivEntityMap">
		select
		     <include refid="BaseConfPrivEntity_Column_List" />
		from `priv_conf_visit`
		where  1=1
		and `priv_visit_id` IN
		<foreach item="item" collection="privVisitIdArray" open="(" separator="," close=")">
			#{item}
		</foreach>
		AND STATUS != -1
	</select>
	
	<select id="selectAllPrivVisitUrl" resultMap="BaseConfPrivEntityMap">
		select
		     <include refid="BaseConfPrivEntity_Column_List" />
		from `priv_conf_visit`
		where  1=1
		AND STATUS != -1
	</select>
	
	<update id="delete" parameterType="java.lang.Integer">
	UPDATE `priv_conf_visit`
		set `status` = -1
		WHERE `menu_id` in 
	     <foreach collection="list" item="item"  open="(" close=")" separator=",">
	     #{item}
	     </foreach>
	</update>
</mapper>
